<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.mapper.NewOrderMapper">
    <resultMap id="orderMap" type="com.cat.pojo.NewWorkOrder">
        <result column="Status" property="operationState"/>
        <result column="Size" property="productSpecification"/>
        <result column="Texture" property="material"/>
        <result column="QTY" property="productQuantity"/>
        <result column="CompleteDate" property="completionDate"/>
        <result column="WoNo" property="id"/>
        <result column="PC" property="batchNumber"/>
        <result column="SXH" property="sequenceNumber"/>
        <result column="OriSize" property="cuttingSize"/>
        <result column="GDMK" property="siteModule"/>
        <result column="CompleteQTY" property="completedQuantity"/>
    </resultMap>

    <update id="updateOrderState">
        UPDATE tb_new_local_work_order
        SET Status = #{operationState}
        WHERE WoNo = #{id}
    </update>

    <update id="updateOrderCompletedQuantity">
        UPDATE tb_new_local_work_order
        SET CompleteQTY = #{completedQuantity}
        WHERE WoNo = #{id}
    </update>

    <select id="getOrderById" resultMap="orderMap">
        SELECT Status,
               Size,
               Texture,
               QTY,
               CompleteDate,
               WoNo,
               PC,
               SXH,
               OriSize,
               GDMK,
               CompleteQTY
        FROM tb_new_local_work_order
        WHERE WoNo = #{id}
    </select>

    <select id="getCompletedOrderById" resultMap="orderMap">
        SELECT Status,
               Size,
               Texture,
               QTY,
               CompleteDate,
               WoNo,
               PC,
               SXH,
               OriSize,
               GDMK,
               CompleteQTY
        FROM tb_new_completed_work_order
        WHERE WoNo = #{id}
    </select>

    <select id="getNotBottomOrders" resultMap="orderMap">
        SELECT Status,
               Size,
               Texture,
               QTY,
               CompleteDate,
               WoNo,
               PC,
               SXH,
               OriSize,
               GDMK,
               CompleteQTY
        FROM tb_new_local_work_order
        WHERE GDMK IN (#{module1}, #{module2})
          AND CompleteDate = #{date}
    </select>

    <select id="getBottomOrders" resultMap="orderMap">
        SELECT Status,
               Size,
               Texture,
               QTY,
               CompleteDate,
               WoNo,
               PC,
               SXH,
               OriSize,
               GDMK,
               CompleteQTY
        FROM tb_new_local_work_order
        WHERE GDMK IN (#{module1})
          AND CompleteDate = #{date}
    </select>

    <select id="getAllProductionOrders" resultMap="orderMap">
        SELECT Status,
               Size,
               Texture,
               QTY,
               CompleteDate,
               WoNo,
               PC,
               SXH,
               OriSize,
               GDMK,
               CompleteQTY
        FROM tb_new_local_work_order
    </select>

    <delete id="deleteRemoteOrderById">
        DELETE
        FROM tb_new_remote_work_order
        WHERE WoNo = CAST(#{id} AS VARCHAR(200))
    </delete>

    <delete id="deleteOrderById">
        DELETE
        FROM tb_new_local_work_order
        WHERE WoNo = #{id}
    </delete>

    <update id="updateRemoteOrderCuttingSize">
        UPDATE tb_new_remote_work_order
        SET OriSize = #{cuttingSize}
        WHERE WoNo = CAST(#{id} AS VARCHAR(200))
    </update>

    <insert id="transferWorkOrderToCompleted">
        INSERT INTO tb_new_completed_work_order (PKID, Status, OwnerID, OwnerName, BookerID, BookerName, AddDate,
                                                 UpdateDate, HTH, PartNo, PartName, Size, Texture, QTY, CompleteTime,
                                                 Remark, CompleteDate, WoNo, UpSize, PC, SXH, OriSize, CXH, DBCXH, GDMK,
                                                 CompleteQTY)
        SELECT PKID,
               Status,
               OwnerID,
               OwnerName,
               BookerID,
               BookerName,
               AddDate,
               UpdateDate,
               HTH,
               PartNo,
               PartName,
               Size,
               Texture,
               QTY,
               CompleteTime,
               Remark,
               CompleteDate,
               WoNo,
               UpSize,
               PC,
               SXH,
               OriSize,
               CXH,
               DBCXH,
               GDMK,
               CompleteQTY
        FROM tb_new_local_work_order
        WHERE WoNo = #{id}
    </insert>

    <select id="getCompletedOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_new_completed_work_order;
    </select>

    <update id="restoreDatabase">
        TRUNCATE TABLE tb_new_completed_work_order;
        TRUNCATE TABLE tb_cutting_signal;
        TRUNCATE TABLE tb_inventory;
        TRUNCATE TABLE tb_new_local_work_order;
        TRUNCATE TABLE tb_machine_action;
        TRUNCATE TABLE tb_process_control_signal;
        TRUNCATE TABLE tb_processed_action;
        TRUNCATE TABLE tb_stock_specification;
        TRUNCATE TABLE tb_take_board_signal;
        INSERT INTO tb_new_local_work_order(PKID, Status, OwnerID, OwnerName, BookerID, BookerName, AddDate, UpdateDate,
                                            HTH, PartNo, PartName, Size, Texture, QTY, CompleteTime, Remark,
                                            CompleteDate, WoNo, UpSize, PC, SXH, OriSize, CXH, DBCXH, GDMK)
        SELECT PKID,
               N'未完工',
               OwnerID,
               OwnerName,
               BookerID,
               BookerName,
               AddDate,
               UpdateDate,
               HTH,
               PartNo,
               PartName,
               Size,
               Texture,
               QTY,
               CompleteTime,
               Remark,
               CompleteDate,
               CAST(WoNo AS INT),
               UpSize,
               PC,
               SXH,
               OriSize,
               CXH,
               DBCXH,
               GDMK
        FROM tb_new_remote_work_order;
    </update>

    <select id="getCompletedOrderCountByDate" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_new_completed_work_order
        WHERE CompleteDate = #{date}
    </select>

    <select id="getCompletedOrderCountByRange" resultType="java.lang.Integer">
        SELECT COUNT(*) AS order_count
        FROM tb_new_local_work_order
        WHERE CompleteDate BETWEEN #{start} AND #{end}
        GROUP BY CompleteDate
        ORDER BY CompleteDate DESC;
    </select>
</mapper>