<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.mapper.OrderMapper">
    <resultMap id="orderMap" type="com.cat.pojo.WorkOrder">
        <result column="ZZTSCPCH" property="batchNumber"/>
        <result column="HTH" property="contractNumber"/>
        <result column="PLNBEZ" property="itemNumber"/>
        <result column="MAKTX" property="productName"/>
        <result column="VORNR" property="processNumber"/>
        <result column="ZGG" property="productSpecification"/>
        <result column="GAMNG" property="productQuantity"/>
        <result column="b.CU_ORGMAT" property="material"/>
        <result column="ZZSSRQ" property="implementationDate"/>
        <result column="b.CU_ORGSIZE" property="cuttingSize"/>
        <result column="b.CU_ORGMAT_AMOUNT" property="cuttingQuantity"/>
        <result column="b.CU_ProNum" property="programNumber"/>
        <result column="SXH" property="sequenceNumber"/>
        <result column="AUFNR" property="orderNumber"/>
        <result column="id" property="oid"/>
        <result column="bid" property="id"/>
        <result column="ARBPL" property="workCentre"/>
        <result column="YWGSL" property="completedQuantity"/>
        <result column="BHGSL" property="reportQuantity"/>
        <result column="BFSL" property="scrapQuantity"/>
        <result column="ZT" property="operationState"/>
        <result column="GDMK" property="siteModule"/>
        <result column="jhwgrq" property="completionDate"/>
    </resultMap>

    <update id="updateOrderState">
        UPDATE tb_local_work_order
        SET ZT = #{operationState}
        WHERE bid = #{id}
    </update>

    <update id="updateOrderCompletedQuantity">
        UPDATE tb_local_work_order
        SET YWGSL = #{completedQuantity}
        WHERE bid = #{id}
    </update>

    <select id="getOrderById" resultMap="orderMap">
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_local_work_order
        WHERE bid = #{id}
    </select>

    <select id="getCompletedOrderById" resultMap="orderMap">
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_completed_work_order
        WHERE bid = #{id}
    </select>

    <select id="getNotBottomOrders" resultMap="orderMap">
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_local_work_order
        WHERE GDMK IN (#{module1}, #{module2})
          AND jhwgrq = #{date}
    </select>

    <select id="getBottomOrders" resultMap="orderMap">
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_local_work_order
        WHERE GDMK IN (#{module1})
          AND jhwgrq = #{date}
    </select>

    <select id="getAllProductionOrders" resultMap="orderMap">
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_local_work_order
    </select>

    <delete id="deleteRemoteOrderById">
        DELETE
        FROM tb_remote_work_order
        WHERE bid = #{id}
    </delete>

    <delete id="deleteOrderById">
        DELETE
        FROM tb_local_work_order
        WHERE bid = #{id}
    </delete>

    <update id="updateRemoteOrderCuttingSize">
        UPDATE tb_remote_work_order
        SET [b.CU_ORGSIZE] = #{cuttingSize}
        WHERE bid = #{id}
    </update>

    <insert id="transferWorkOrderToCompleted">
        INSERT INTO tb_completed_work_order
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_local_work_order
        WHERE bid = #{id}
    </insert>

    <select id="getCompletedOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_completed_work_order;
    </select>

    <update id="restoreDatabase">
        TRUNCATE TABLE tb_completed_work_order;
        TRUNCATE TABLE tb_cutting_signal;
        TRUNCATE TABLE tb_inventory;
        TRUNCATE TABLE tb_local_work_order;
        TRUNCATE TABLE tb_machine_action;
        TRUNCATE TABLE tb_process_control_signal;
        TRUNCATE TABLE tb_processed_action;
        TRUNCATE TABLE tb_stock_specification;
        TRUNCATE TABLE tb_take_board_signal;
        INSERT INTO tb_local_work_order
        SELECT ZZTSCPCH,
               HTH,
               PLNBEZ,
               MAKTX,
               VORNR,
               ZGG,
               GAMNG,
               [b.CU_ORGMAT],
               ZZSSRQ,
               [b.CU_ORGSIZE],
               [b.CU_ORGMAT_AMOUNT],
               [b.CU_ProNum],
               SXH,
               AUFNR,
               id,
               bid,
               ARBPL,
               YWGSL,
               BHGSL,
               BFSL,
               ZT,
               GDMK,
               jhwgrq
        FROM tb_remote_work_order;
    </update>

    <select id="getCompletedOrderCountByDate" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_completed_work_order
        WHERE jhwgrq = #{date}
    </select>

    <select id="getCompletedOrderCountByRange" resultType="java.lang.Integer">
        SELECT COUNT(*) AS order_count
        FROM tb_local_work_order
        WHERE jhwgrq BETWEEN #{start} AND #{end}
        GROUP BY jhwgrq
        ORDER BY jhwgrq DESC;
    </select>
</mapper>