<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.mapper.SignalMapper">
    <resultMap id="controlSignalMap" type="com.cat.pojo.ProcessControlSignal"/>
    <resultMap id="takeSignalMap" type="com.cat.pojo.TakeBoardSignal"/>
    <resultMap id="cuttingSignalMap" type="com.cat.pojo.CuttingSignal"/>

    <select id="getLatestNotProcessedControlSignal" resultMap="controlSignalMap">
        SELECT TOP 1 id, processed, category, created_at
        FROM tb_process_control_signal
        WHERE processed = 0
        ORDER BY id DESC
    </select>

    <update id="updateControlSignal">
        UPDATE tb_process_control_signal
        SET processed = #{processed}
        WHERE id = #{id}
    </update>

    <insert id="insertProcessControlSignal">
        INSERT INTO tb_process_control_signal(category)
        VALUES (#{category})
    </insert>

    <select id="getLatestTakeBoardSignal" resultMap="takeSignalMap">
        SELECT TOP 1 id, processed, order_id, created_at
        FROM tb_take_board_signal
        ORDER BY id DESC
    </select>

    <insert id="insertTakeBoardSignal">
        INSERT INTO tb_take_board_signal(order_id)
        VALUES (#{orderId})
    </insert>

    <select id="getLatestNotProcessedCuttingSignal" resultMap="cuttingSignalMap">
        SELECT TOP 1 id, processed, cutting_size, forward_edge, order_id, created_at
        FROM tb_cutting_signal
        WHERE processed = 0
        ORDER BY id DESC
    </select>

    <update id="updateCuttingSignal">
        UPDATE tb_cutting_signal
        SET processed = #{processed}
        WHERE id = #{id}
    </update>

    <insert id="insertCuttingSignal">
        INSERT INTO tb_cutting_signal(cutting_size, forward_edge, order_id)
        VALUES (#{cuttingSize}, #{forwardEdge}, #{orderId})
    </insert>
</mapper>